<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>11-列表渲染v-for.html</title>
</head>
<body>
	<div id="app">
		<table>
			<tr>
				<th>姓名</th>
				<th>年龄</th>
				<th>成绩</th>
				<th>等级</th>
			</tr>
			<tr v-for="person in persons">
				<!-- <td>{{person}}</td> -->
				<td>{{person.name}}</td>
				<td>{{person.age}}</td>
				<td>{{person.score}}</td>
				<td v-if="person.score >= 90">优秀</td>
				<td v-else-if="person.score >= 80">良好</td>
				<td v-else-if="person.score >= 60">及格</td>
				<td v-else>不及格</td>
			</tr>
		</table>
	</div>
</body>
<script src="js/vue.js"></script>
<script>
	//实例函数
	let vm = new Vue({
		el:"#app",
		data:{
			persons:[
			/*
			    "张三",
			    "李四",
			    "王五"
			*/
			/*
				{name:"张三"},
				{name:"李四"},
				{name:"王五"}
			*/
				{name:"张三",age:20,score:90},
				{name:"李四",age:17,score:45},
				{name:"王五",age:20,score:89},
				{name:"黄麻",age:18,score:67}
			]
		}
	});
	// vm.message = "bbb";
</script>
</html>