*{
	margin: 0;
	padding: 0;
}
.topnav1{
	width: 100%;
	height: 30px;
}
.topnav1 .leftbox1{
	width: 78%;
	height: 30px;
	float: left;
}
.topnav1 .leftbox1 ul{
	width: 33%;
	height: 30px;
	line-height: 30px;
	float: right;
	/*border-right: 1px solid #ccc;*/
}
.topnav1 .leftbox1 ul li{
	list-style: none;
	float: left;
	margin-right: 15px;
}
.topnav1 .leftbox1 ul li a{
	color: #000;
	font-size: 13px;
	font-weight: bold;
}
.topnav1 .leftbox1 ul li:last-child a{
	border-right: 1px solid #ccc;
	padding-right: 10px;
	box-sizing: border-box;
}
.topnav1 .rightbox1{
	width: 22%;
	height: 30px;
	/*background: red;*/
	float: right;
}