02-custom/node_modules
02-custom/package-lock.json
02-custom/package.json

04-npm/01-npm/package.json
04-npm/02-npm/package.json
04-npm/02-npm/package-lock.json
04-npm/02-npm/node_modules

04-npm/03-npm/package.json
04-npm/03-npm/package-lock.json
04-npm/03-npm/node_modules