*{
	margin: 0;
	padding: 0;
}
.App ul{
	margin-top: 20px;
}
.App{
	width: 500px;
	margin: 100px auto;
}
.App li{
	list-style: none;
	line-height: 30px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}